* {
    box-sizing: border-box;
    margin: 0;
}

ul {
    display: flex;
    justify-content: flex-end;
    
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
}

body {
    position: relative;
    height: 100vh;
}

footer {
    display: flex;
    justify-content: center ;
}

footer div {
    position: absolute;
    bottom: 0;
}

section form label:hover {
    color: red;

}

section form label:active {
    color: green;
    transition: 0.2 ease all;
}

header {
    padding: 10px 30px;
    background-color: rgb(247, 81, 81);
    color: white;
}

section button {
    margin: 10px 30px;
}