* {
    box-sizing: border-box;
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-decoration: none;
}

body {
    background-color: rgb(238, 238, 238);
}

.tab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

a {
    text-decoration:none;
    color: black;
}


.btn1 {
    padding: 16px 20px;
    -webkit-transition: 0.2s ease all;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: bold;
}

.btn2 {
    padding: 16px 20px;
    -webkit-transition: 0.2s ease all;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: bold;
}

.btn3 {
    padding: 16px 20px;
    -webkit-transition: 0.2s ease all;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: bold;
}

.btn4 {
    padding: 16px 20px;
    -webkit-transition: 0.2s ease all;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: bold;
}

.btn1:hover {
    padding: 16px 20px;
    -webkit-transition: 0.2s ease all;
    color: 	#cc3300;
    border-width: 0 0 3px 0;
    border-style: inset;
    font-weight: 900;
}

.btn2:hover {
    padding: 16px 20px;
    -webkit-transition: 0.2s ease all;
    color: #ff9966;
    border-width: 0 0 3px 0;
    border-style: inset;
    font-weight: 900;
}

.btn3:hover {
    padding: 16px 20px;
    -webkit-transition: 0.2s ease all;
    color: #ffcc00;
    border-width: 0 0 3px 0;
    border-style: inset;
    font-weight: 900;
}

.btn4:hover {
    padding: 16px 20px;
    -webkit-transition: 0.2s ease all;
    color: 	#339900;
    border-width: 0 0 3px 0;
    border-style: inset;
    font-weight: 900;
}

.tab a {
    display: block;
}

.tab::after {
    content: '';
    clear: left;
    display: block;
}