* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'IBM Plex Sans KR', sans-serif;
  color: #273444;
  background-color: #8492a6;
}

.profile-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3333333333;
  margin-bottom: 4px;
}

.profile-location {
  font-size: 14px;
  line-height: 1.4285714286;
  color: #8492a6;
}

.profile-detail dt {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.6666666667;
  color: #8492a6;
}

.profile-detail dd {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.25;
  color: #0066ff;
}

/* ▼ WHERE YOUR CODE BEGINS */


.profile-image {
  width: 80px;
  height: auto;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 16px;
}

.profile {
  position: absolute;
  padding: 32px 40px;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 40vh;
  flex-wrap: wrap;
  border-radius: 10vh;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
}

.profile-detail {
  display: flex;
}

.profile-detail-item {
  margin: 0px 32px;
}